<body>
	<script src="index.js"></script>

	<h4>Tubli oled. Sinu JavaScript harjutus käivitus.
	Vajuta nüüd ctrl + shift + i ja ava Developer Tools kõrvalaken </h4>

	<img class= width="40" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSssMmbwOoaDGCWknDy_1aJJhDWADgrFXYEGTzXwORZih_XR1FyHg "/>

</body>
