<head>
	<title>Minu kodukas !</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<h1 class ="kastiga">Suur pealkiri</h1>
	<h2>Keskmine pealkiri</h2>
	<h3 class ="kastiga">Väike pealkiri</h3>
	<h4>Veel väiksem pealkiri</h4>
	<p>Paragraaf. Tavaline tekst.</p>
	<ol> <!-- ordered list -->
		<li>Esimene</li>
		<li>Teine</li>
		<li>Kolmas</li>
	</ol>
	<form>
<input id="nimi" placeholder="Mis on Su nimi?"/>
<input type="checkbox"/>
<input type="range"/>
<input type="date"/>
<input type="submit"/>

	</form>
	<img width="100" src="https://www.google.ee/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png">

<script src="script.js"></script>



</body>
