 body {
 	/* kommentaar */
 	background-color: rgb(15, 200, 9); 
 	font-family: Arial;
 	font-size: 16px;
 	color: black;
 }

 form {
 	border: 3px solid gold;
 	border-radius: 5px;
 	box-shadow: 3px 3px 3px 3px rgba(0,0,0,2);
 }

 form input {
 	display: block;
 }

 .kastiga  {
 	border: 2px solid gold;
 }