<head>
	<title>Hommiku leht!</title>
	
</head>

<body>
    <p> Tere hommikut. See on meie W1/D3 JavaScript kordamise harjutuste HTML Hommiku leht !</p>
    <img class= width="40" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSssMmbwOoaDGCWknDy_1aJJhDWADgrFXYEGTzXwORZih_XR1FyHg "/>

    <img class= width="40" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwILsmUjXIIzli8fCtMtChX_ssJObcVsyGCAtQ4L87DxHgJQ7X "/>

	<script src="hommikud.js"></script>


</body>

