<head>
	<title>My Chatroom</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>

	<p>Hello Dude!</p>
	

	<div id="jutt"> !test text! </div>

	<form>
		<input id="username" value="Urmas" placeholder="kasutaja"/>  
		<input id="message" value="Minu esimene sõnum :)" placeholder="sõnum"/>
		<input type="submit"/>
	</form>

	<img class= width="50" src="https://www.google.ee/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png"/>
	
	<script src="script.js"></script>


</body>