<head>
	<title>My Chatroom</title>
</head>

<body>

	<p>Hello Dude!</p>

	<input id="room" value="general">

	<div id="jutt"> ! Urmase Chatroom ! </div>
	<link rel="stylesheet" type="text/css" href="style.css">

	<form>
		<input id="avatar" value="Please insert picture URL" placeholder="Avatar"/>
		<input id="username" value="Urmas" placeholder="kasutaja"/>  
		<input type="checkbox"/>
		<input id="message" value="Minu esimene sõnum :)" placeholder="sõnum"/>
		<input type="submit"/>
	</form>

	<img class= width="20"

		 src="https://www.google.ee/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png"/>

	<script src="script.js"></script>


</body>